KEYCLOAK_DATABASE_HOST=$(PROJECT_NAME)_db
KEYCLOAK_DATABASE_NAME=$(PROJECT_NAME)
KEYCLOAK_DATABASE_USER=
KEYCLOAK_DATABASE_PASSWORD=
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=a
KC_HOSTNAME_STRICT_HTTPS=false
KC_HOSTNAME=$(PRIMARY_DOMAIN)
KC_HOSTNAME_ADMIN=$(PRIMARY_DOMAIN)
PROXY_ADDRESS_FORWARDING=true
KC_HTTP_ENABLED=false
KC_FEATURES=docker,scripts∂∂∂
KC_PROXY_HEADERS=xforwarded
KC_DB_SCHEMA=auth
KC_SPI_LOGIN_PROTOCOL_OPENID_CONNECT_LEGACY_LOGOUT_REDIRECT_URI=true
KC_PROXY=edge
